@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

body {
  overflow: none;
  background-color: #f0eaea;
}

.mobile-header, .mobile-nav  {
  display: none;
}

.main-header {
  background-color: #cc1a11;
  padding: 5px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
}

.main-container {
  position: relative;
}

.main-contents {
  overflow-y: auto;
  width: 84.5%;
  float: left;
  position: relative;
}

.left-nav {
  background-color: #cc1a11;
  width: 15%;
  float: left;
  position: relative;
}

.left-nav ul li {
  list-style: none;
}

.left-nav ul li a {
  width: 99%;
  border-top: 1px solid #b5160e;
  display: block;
  text-align: center;
  padding: 5px 0px;
  text-decoration: none;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

.left-nav ul li:last-child a {
  border-bottom: 1px solid #b5160e;
}

.left-nav ul li a:hover {
  background-color: #919d07;
}

.validation-errors {
  border: 1px solid #cc1a11;
  width: 45%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  background-color: #cc1a11;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.login-container {
  border: 1px solid #cc1a11;
  background-color: #fff;
  width: 50%;
  position: relative;
  margin-top: 7%;
  margin-left: 25%;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
}

.login-container h1 {
  font-size: 150%;
  padding: 5px 0px;
  border-bottom: 1px solid #cc1a11;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 10px;
}

.input-container .form-input, .input-container .form-password, .captcha-input-container .form-input {
  padding: 5px;
  width: 97%;
}

.login-btn-container {
  margin-top: 20px;
}

.login-btn-container .login-btn {
  border: 1px solid #cc1a11;
  background-color: #cc1a11;
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
}

.login-btn-container .login-btn:hover {
  color: yellow;
}

.login-btn-container .login-btn:active {
  position: relative;
  left: 1px;
  top: 1px;
}

.dashboard-container {
  padding: 10px;
}

.dashboard-container ul li.widget {
  list-style: none;
  border: 1px solid #cc1a11;
  width: 40%;
  padding: 10px;
  background-color: #fff;
  float: left;
  margin-left: 1%;
  margin-bottom: 10px;
}

.dashboard-container ul li.widget h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 130%;
  border-bottom: 1px solid #cc1a11;
  margin-bottom: 10px;
}

.dashboard-container .post-feedback .posts-contents ul li {
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 90%;
}

.posts-count-contents {
  margin-top: 10px;
}

.posts-count-contents h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  margin-bottom: 5px;
}

.posts-count-contents ul li {
  list-style: none;
}

.dashboard-stats-container table {
  width: 100%;
}

.dashboard-stats-container table tr td, .dashboard-stats-container table tr th {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.dashboard-search-contents h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  margin-bottom: 5px;
}

.dashboard-search-contents ul li.list {
  list-style: none;
  margin-bottom: 10px;
}

.dashboard-search-contents ul li.list ul li {
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 90%;
}

.ajax-post {
  border: 1px solid #ccc;
  width: 90%;
  height: 400px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  overflow-y: auto;
}

.ajax-post ul li.list {
  list-style: none;
  border: 1px solid #cc1a11;
  bckground-color: #fff;
  margin-bottom: 20px;
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
}

.ajax-post ul li.list .post-message {
  font-size: 130%;
}

.ajax-post ul li.list ul li {
  list-style: none;
  font-size: 90%;
}

.post-ajax-contents .close {
  position: absolute;
  right: 15px;
  margin-top: -105px;
  cursor: pointer;
}

.post-ajax-btn-container, .post-ajax-loading-container {
  padding: 10px;
  text-align: center;
}

.post-ajax-btn-container .post-ajax-btn {
  border: 1px solid #cc1a11;
  padding: 5px 10px;
  background-color: #cc1a11;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
}

.post-ajax-btn-container .post-ajax-btn:hover {
  color: yellow;
}

.post-ajax-btn-container .post-ajax-btn:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.post-ajax-loading-container {
  display: none;
}

.logs-container {
  padding: 10px;
}

.search-logs {
  border: 1px solid #cc1a11;
  padding: 10px;
  background-color: #fff;
}

.search-logs h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
  padding: 5px 0px;
  border-bottom: 1px solid #cc1a11;
}

.search-logs-contents {
  margin-top: 10px;
  height: 300px;
  overflow-y: auto;
}

.search-logs-contents ul li.list {
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 90%;
  margin-bottom: 20px;
}

.search-logs-contents ul li.list ul li {
  list-style: none;
}

.search-btn-container {
  padding: 10px;
  text-align: center;
}

.search-btn-container .search-btn {
  border: 1px solid #cc1a11;
  background-color: #cc1a11;
  color: #fff;
  padding: 5px 10px;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
}

.search-btn-container .search-btn:hover {
  color: yellow;
}

.search-btn-container .search-btn:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.logs-empty {
  font-family: 'Ubuntu', sans-serif;
}

.stats-container {
  padding: 10px;
}

.stats-counts {
  margin-top: 20px;
}

.stats-counts ul li {
  list-style: none;
  border: 1px solid #cc1a11;
  background-color: #fff;
  width: 30%;
  float: left;
  margin-left: 11%;
  padding: 10px;
}

.stats-counts ul li .stats-page-load-count, .stats-counts ul li .stats-unique-count {
  font-family: 'Ubuntu', sans-serif;
  font-size: 180%;
  text-align: center;
}

.stats-counts ul li .stats-page-title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.stats-details {
  border: 1px solid #cc1a11;
  margin-top: 30px;
  padding: 10px;
  background-color: #fff;
}

.stats-details h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
  border-bottom: 1px solid #cc1a11;
  padding: 5px 0px;
  margin-bottom: 10px;
}

.stats-details .stats-details-contents {
  overflow-y: auto;
}

.stats-btn-container {
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.stats-btn-container .stats-clear-btn {
  border: 1px solid #cc1a11;
  background-color: #cc1a11;
  color: #fff;
  padding: 5px 10px;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
}

.stats-btn-container .stats-clear-btn:hover {
  color: yellow;
}
.stats-btn-container .stats-clear-btn:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.stats-loader {
  position: absolute;
  margin-top: 20%;
  margin-left: 45%;
}

.stats-details-logs ul li.list {
  list-style: none;
  border: 1px solid #cc1a11;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  width: 95%;
}

.stats-details-logs ul li.list ul li {
  list-style: none;
}

.nostats {
  font-family: 'Ubuntu', sans-serif;
}

.account-panel-container {
  padding: 10px;
}

.account-panel-admin-list ul li {
  list-style: none;
  border: 1px solid #cc1a11;
  padding: 10px;
  background-color: #fff;
  width: 50%;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 10px;
}

.account-panel-admin-list .left {
  width: 49.5%;
  float: left;
}

.admin-del {
  cursor: pointer;
}

.account-panel-admin-list .right {
  width: 49.5%;
  float: left;
  text-align: right;
}

.change-password-container {
  padding: 10px;
}

.change-password-errors {
  border: 1px solid #cc1a11;
  background-color: #cc1a11;
  color: #fff;
  padding: 10px;
  width: 50%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  margin-bottom: 20px;
}

.change-password-success {
  border: 1px solid #36a20c;
  background-color: #36a20c;
  padding: 10px;
  color: #fff;
  width: 50%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  margin-bottom: 20px;
}

.change-password-contents {
  border: 1px solid #cc1a11;
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff;
}

.change-password-contents h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
  padding: 10px 0;
  border-bottom: 1px solid #cc1a11;
}

.change-password-contents .change-password-form {
  margin-top: 15px;
}

.change-password-contents .change-password-form p {
  margin-bottom: 10px;
}

.change-password-contents .change-password-form .input-password {
  width: 95%;
  padding: 5px;
}

.change-password-contents .change-password-form .change-password-btn-container {
  margin-top: 20px;
  text-align: center;
}

.change-password-btn {
  border: 1px solid #cc1a11;
  background-color: #cc1a11;
  color: #fff;
  padding: 5px 10px;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
}

.change-password-btn:hover {
  color: yellow;
}

.change-password-btn:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.main-footer {
  border-top: 1px solid #000;
  padding: 20px 10px;
  background-color: #252424;
  text-align: center;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

.main-footer a {
  color: #fff;
  text-decoration: none;
}

.main-footer a:hover {
  color: yellow;
  text-decoration: underline;
}



@media screen and (max-width: 900px) {
  .main-header, .left-nav {
    display: none;
  }

  .mobile-header {
    display: block;
    border: 1px solid #cc1a11;
    background-color: #cc1a11;
    position: fixed;
    padding: 10px;
    top: 0;
    width: 100%;
    z-index: 20;
  }

  .mobile-nav {
    position: fixed;
    border: 1px solid #a1140d;
    background-color: #cc1a11;
    z-index: 20;
    width: 200px;
    display: none;
  }

  .mobile-nav ul li {
    list-style: none;
  }

  .mobile-nav ul li a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 90%;
    padding: 10px 0px;
    border-bottom: 1px solid #a1140d;
  }

  .main-container {
    margin-top: 40px;
  }

  .main-contents {
    float: none;
    width: 100%;
  }

  .login-container {
    margin-top: 30px;
    margin-bottom: 150px;
  }

  .login-container h1 {
    font-size: 100%;
  }

  .dashboard-container ul li.widget {
    float: none;
    width: 95%;
  }
}

@media screen and (max-width: 500px) {
  .login-container .form-input, .login-container .form-password {
    width: 95%;
  }

  .stats-counts ul li {
    float: none;
    margin-left: 0;
    width: 95%;
    margin-bottom: 20px;
  }
}





.menu {
  background-image: url(/pub/img/menu.png);
  padding: 2px 12px;
  background-repeat: no-repeat;
}
