@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

.hidden{
  opacity: 0;
}

.visible{
  opacity: 1;
}

body {
  background-color: #f0eaea;
}

.mobile-header, .mobile-nav {
  display: none;
}

.main-header {
  background-color: #cc1a11;
  padding: 5px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
}

.main-header .logo-container {
  width: 5%;
  padding: 0px 10px;
}

.main-header .logo {
  float: left;
  margin-left: 10px;
}

.main-header nav {
  width: 85%;
  float: left;
  position: relative;
  margin-top: 8px;
}

.main-header nav ul li {
  float: left;
  list-style: none;
  margin-left: 2%;
}

.main-header nav ul li a {
  font-family: 'Bungee Inline', cursive;
  color: #fff;
  text-decoration: none;
}

.main-header nav ul li a:hover {
  color: yellow;
}

.search-btn {
  cursor: pointer;
  float: right;
  position: relative;
  right: 10px;
  margin-top: 13px;
}

.search-form-container {
  border: 1px solid #ccc;
  position: absolute;
  right: 0;
  width: 30%;
  padding: 5px;
  background-color: #fff;
  margin-top: 5px;
  display: none;
}

.search-form-container .search_input {
  width: 91%;
  font-family: 'Ubuntu', sans-serif;
  border: 1px solid #fff;
  outline: none;
}

.search-form-container .search-btn-2 {
  float: right;
  margin-left: 5px;
}

.homepage-header {
  border-bottom: 1px solid #ccc;
}

.textition-container {
  font-family: 'Aldrich', sans-serif;
  font-size: 200%;
  position: absolute;
  z-index: 20;
  color: #fff;
  text-align: center;
}

.home-header, .cat-header {
  margin-top: 30px;
  padding: 0px 9px;
}

.home-header h1, .cat-header h1 {
  background: -webkit-linear-gradient(left top, #cc1a11, #f0eaea);
  background: -moz-linear-gradient(left top, #cc1a11, #f0eaea);
  background: -o-linear-gradient(left top, #cc1a11, #f0eaea);
  background: -ms-linear-gradient(left top, #cc1a11, #f0eaea);
  padding: 5px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

.home-container {
  float: right;
  position: relative;
  right: 50%;
  margin-top: 40px;
}

.home-container > ul {
  position: relative;
  left: 50%;
}

.home-container ul li {
  float: left;
  position: relative;
  list-style: none;
  border: 1px solid #cc1a11;
  padding: 10px;
  width: 30%;
  margin-left: 1%;
  margin-bottom: 3%;
  font-family: 'Ubuntu', sans-serif;
  background-color: #fff;
  color: #353232;
  border-radius: 5px;
  box-shadow: 10px 10px 2px #7a7676;
}

.home-container ul li h1 {
  font-size: 120%;
  border-bottom: 1px solid #cc1a11;
}

.home-container ul li h1 a {
  color: #151414;
  text-decoration: none;
}

.home-container ul li h1 a:hover {
  text-decoration: underline;
}

.home-container ul li p {
  margin-top: 5px;
  font-size: 95%;
}

.cat-ads {

}

.cat-header {
  margin-bottom: 30px;
  text-align: left;
}

.cat-header h1 {
  width: 94%;
  margin: 0 auto;
}

.message-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-button {
  border: 1px solid #b31811;
  margin: 0 auto;
  width: 20%;
  text-align: center;
  padding: 15px;
  background-color: #cc1a11;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  border-radius: 5px;
}

.post-button:hover {
  color: yellow;
}

.post-button:active {
  position: relative;
  left: 1px;
  top: 1px;
}

.message-form .form {
  border: 1px solid #cc1a11;
  background-color: #fff;
  width: 40%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.message-form .form .form_input {
  border: 1px solid #ccc;
  padding: 5px;
  width: 48%;
  font-family: 'Ubuntu', sans-serif;
  outline: none;
}

.message-form .form .form_textarea {
  padding: 5px;
  margin-top: 10px;
  width: 97%;
  outline: none;
  border: 1px solid #ccc;
}

.message-len {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 97%;
}

.form-validation {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  padding: 5px;
}

.message-form .form .form_submit {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.message-form .form .form_submit .post-submit {
  padding: 10px;
}

.post-messages ul li.ajax-append {
  display: none;
}

.post-messages ul li.post, .ajax-single-post ul li.post {
  list-style: none;
  border: 1px solid #cc1a11;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 90%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 120%;
  background-color: #fff;
  box-shadow: 10px 10px 2px #7a7676;
}

.block-container {
  border: 1px solid #cc1a11;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  background-color: #cc1a11;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

.post-messages ul li.post .message img {
  display: none;
}

.post-messages ul li.post ul li, .ajax-single-post ul li.post ul li {
  list-style: none;
  display: inline-block;
  font-size: 70%;
  margin-right: 1%;
}

.read-more-container, .ajax-loader-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px
}

.ajax-loader-container {
  display: none;
}

.search-header {
  margin-top: 70px;
}

.search-count {
  width: 91%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 90%;
}

.search-ads {
  width: 91%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.notfound-container {
  margin-top: 47px;
}

.notfound-ads {
  margin-top: 70px;
}

.notfound-contents {
  text-align: center;
  position: absolute;
  margin-top: 10%;
  left: 40%;
  font-family: 'Ubuntu', sans-serif;
}

.validation-errors {
  border: 1px solid #cc1a11;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #cc1a11;
  color: #fff;
  text-align: center;
}

.main-footer {
  margin-top: 30px;
  border-top: 1px solid #000;
  padding: 20px 10px;
  background-color: #252424;
  text-align: center;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

.main-footer a {
  color: #fff;
  text-decoration: none;
}

.main-footer a:hover {
  color: yellow;
  text-decoration: underline;
}



@media screen and (max-width: 1002px) {
  .search-form-container .search_input {
    width: 85%;
  }

  .message-form [type=text] {
    width: 97% !important;
  }

  .message-form select {
    width: 100% !important;
  }
}

@media screen and (max-width: 985px) {
  .home-container ul {
    margin-left: 5%;
  }

  .home-container ul li {
    width: 40%;
  }

  .home-container ul li:last-child {
    margin-left: 25%;
  }
}

@media screen and (max-width: 918px) {
  .search-btn-container {
    right: 8px;
  }

  .main-header nav ul li a {
    font-size: 88%;
  }
}

@media screen and (max-width: 840px) {
  .main-header nav {
    border: 1px solid blue;
    width: 86%;
  }
}

@media screen and (max-width: 805px) {
  .search-btn-container {
    right: 2px;
  }
}





@media screen and (max-width: 800px) {
  .main-header {
    display: none;
  }

  .mobile-header {
    display: block;
    background-color: #cc1a11;
    padding: 5px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 25;
    padding: 10px;
  }

  .mobile-search-form {
    position: absolute;
    right: 5%;
    top: 7px;
    width: 30%;
    border: 1px solid #fff;
    background-color: #fff;
  }

  .mobile-search-form .search_input {
    width: 89%;
    border: 1px solid #fff;
    padding: 3px;
    font-family: 'Ubuntu', sans-serif;
  }

  .mobile-search-form .mobile-search-btn {
    position: absolute;
    right: 5px;
    top: 1px;
  }

  .mobile-nav {
    display: block;
    position: fixed;
    border: 1px solid blue;
    z-index: 25;
    top: 38px;
    left: -215px;
    border: 1px solid #a1140d;
  }

  .mobile-nav ul li a {
    display: block;
    width: 200px;
    border: 1px solid #cc1a11;
    background-color: #cc1a11;
    padding: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: 'Bungee Inline', cursive;
  }

  .home-container ul {
    margin-left: 0%;
  }

  .home-container ul li {
    width: 44%;
  }

  .message-form .form {
    width: 90%;
  }
}

@media screen and (max-width: 750px) {
  .post-messages ul li ul {
    margin-top: 10px;
    margin-left: 5px;
  }

  .post-messages ul li ul li {
    display: block !important;
  }

  .mobile-search-form .search_input {
    width: 80%;
  }
}

@media screen and (max-width: 585px) {
  .home-container {
    float: none;
    right: 0;
  }

  .home-container ul {
    float: none;
    left: 0;
  }

  .home-container ul li {
    width: 92%;
    float: none;
    margin-left: 1%;
  }

  .home-container ul li:last-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
  .homepage-header p {
    font-size: 50%;
  }
}

@media screen and (max-width: 500px) {

  .mobile-search-form {
    width: 40%;
  }

  .mobile-search-form .search_input {
    width: 80%;
  }

  .cat-header h1 {
    width: 95%;
  }

  .post-button {
    width: 30%;
  }

  .post-messages ul li .message {
    font-size: 85%;
  }
}

@media screen and (max-width: 400px) {
  .mobile-search-form {
    width: 50%;
    right: 7%;
  }

  .mobile-search-form .search_input {
    width: 80%;
  }

  .post-button {
    width: 50%;
  }

  .post-messages ul li .message {
    font-size: 75%;
  }

  .post-messages ul li ul li {
    font-size: 60% !important;
  }

  .home-container ul li {
    width: 85%;
    margin-left: 2% !important;
  }
}

@media screen and (max-width: 300px) {
  .mobile-search-form {
    width: 50%;
    right: 10%
  }

  .mobile-search-form .search_input {
    width: 70%;
  }

  .home-container ul li {
    margin-left: 1% !important;
  }

  .post-messages ul li .message {
    font-size: 65%;
  }

  .post-messages ul li ul li {
    font-size: 50% !important;
  }
}



.image-logo {
  background-image: url(/pub/img/mytextmate-icon.png);
  padding: 7px 15px;
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: 0px 2px;
  margin-left: 3px;
}

.menu {
  background-image: url(/pub/img/menu.png);
  padding: 2px 12px;
  background-repeat: no-repeat;
}
